---
site_name: WireGuard Portal
site_description: Manage WireGuard Peers and Interface using a beautiful and simple web UI.
site_url: https://wgportal.org/
repo_name: h44z/wg-portal
repo_url: https://github.com/h44z/wg-portal
copyright: Copyright &copy; 2023-2025 WireGuard Portal Project

extra_css:
  - stylesheets/extra.css

theme:
  name: material
  custom_dir: docs/theme-overrides
  palette:
    primary: white
  font: false
  logo: assets/images/logo.svg
  favicon: assets/images/favicon-large.png
  language: en
  features:
    - content.code.copy
    - navigation.instant
    - navigation.tabs
    - navigation.expand

plugins:
  - search
  - social
  - minify:
      minify_html: true
  - swagger-ui-tag
  - mike:
      # These fields are all optional; the defaults are as below...
      alias_type: symlink
      redirect_template: null
      deploy_prefix: ''
      canonical_version: null
      version_selector: true
      css_dir: css
      javascript_dir: js

extra:
  version:
    provider: mike
    default: latest
  social:
    - icon: fontawesome/brands/github-alt
      link: https://github.com/h44z/wg-portal
    - icon: fontawesome/brands/docker
      link: https://hub.docker.com/r/wgportal/wg-portal
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/chris_h44z

markdown_extensions:
  - admonition
  - meta
  - pymdownx.details
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tilde
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg

nav:
  - Home: index.md
  - Documentation:
      - Overview: documentation/overview.md
      - Getting Started:
          - Binaries: documentation/getting-started/binaries.md
          - Docker: documentation/getting-started/docker.md
          - Helm: documentation/getting-started/helm.md
          - Sources: documentation/getting-started/sources.md
          - Reverse Proxy (HTTPS): documentation/getting-started/reverse-proxy.md
      - Configuration:
          - Overview: documentation/configuration/overview.md
          - Examples: documentation/configuration/examples.md
      - Usage:
          - General: documentation/usage/general.md
          - LDAP: documentation/usage/ldap.md
          - Security: documentation/usage/security.md
          - REST API: documentation/rest-api/api-doc.md
      - Upgrade: documentation/upgrade/v1.md
      - Monitoring: documentation/monitoring/prometheus.md
