<!DOCTYPE html>
<html lang="en">
<!-- Theme: https://bootswatch.com/lux/ -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>WireGuard Portal API</title>
    <meta name="description" content="WireGuard Portal API">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/fonts/fontawesome-all.min.css">
    <link rel="shortcut icon" type="image/x-icon" href="/app/favicon.ico">
</head>

<body id="page-top" class="d-flex flex-column min-vh-100">
{{template "prt_nav.gohtml" .}}
<div class="container mt-2">
    <div class="page-header">
        <h1>WireGuard Portal API</h1>
    </div>
    <p class="lead">The WireGuard Portal API provides a RESTful API to fetch and update WireGuard interface and peer information.</p>
    <h3 class="mt-3">API Endpoints</h3>
    <div class="row">
        <div class="col-lg-4">
            <div class="card border-secondary mb-4" style="min-height: 15rem;">
                <div class="card-header">SPA Api</div>
                <div class="card-body">
                    <p class="card-text">This endpoint is used by the Single Page Application (the Frontend/UI).</p>
                    <a href="/api/v0/doc.html" title="API version 0" target="_blank" rel="noopener noreferrer" class="btn btn-primary btn-sm">Open Documentation</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card border-secondary mb-4" style="min-height: 15rem;">
                <div class="card-header"><b>Version 1</b></div>
                <div class="card-body">
                    <p class="card-text">This is the current main API endpoint.</p>
                    <a href="/api/v1/doc.html" title="API version 1" target="_blank" rel="noopener noreferrer" class="btn btn-primary btn-sm">Open Documentation</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card border-secondary mb-4" style="min-height: 15rem;">
                <div class="card-header">Version 2</div>
                <div class="card-body">
                    <p class="card-text">This will be a future API version, it is currently work in progress.</p>
                    <a href="/api/v2/doc.html" title="API version 2" target="_blank" rel="noopener noreferrer" class="btn btn-primary btn-sm">Open Documentation</a>
                </div>
            </div>
        </div>
    </div>
</div>
{{template "prt_footer.gohtml" .}}
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.easing.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
</body>

</html>