<!DOCTYPE html>
<html lang="en">
<!-- http://paintstrap.com/preview_by_id/27826?design=large -->
<!-- http://www.colourlovers.com/palette/4657935 -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{{ .static.WebsiteTitle }} - Edit User</title>
    <meta name="description" content="{{ .static.WebsiteTitle }}">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="/css/custom.css">
</head>

<body id="page-top">
    {{template "prt_nav.html" .}}
    <div class="container user-edit-container">
        <div class="jumbotron user-edit-jumbotron">
            <form method="post" enctype="multipart/form-data">
                <div class="row">
                    <div class="form-row">
                        <div class="form-group col-md-6 text-center">
                            <img class="list-image-edit" src="/user/{{$.user.Username}}/user.jpg?cc={{len $.user.Image}}" alt="User Image"/>

                            <input type="file" accept="image/jpeg" name="thumbnailPhoto"
                                   class="form-control-file center-block" id="inputThumbnailPhoto">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputName">Name</label>
                            <input type="text" name="displayName" class="form-control" id="inputName" placeholder="" value="{{index $.user.Attributes "displayName" }}">
                            <label for="inputMail">Email</label>
                            <input type="email" name="mail" class="form-control" id="inputMail" placeholder="" value="{{index $.user.Attributes "mail" }}" readonly >
                            <label for="inputUserID">User ID</label>
                            <input type="text" name="sAMAccountName" class="form-control" id="inputUserID" placeholder="" value="{{index $.user.Attributes "sAMAccountName" }}" readonly>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="inputPhone">Phone Number</label>
                            <input type="text" name="telephoneNumber" class="form-control" id="inputPhone" value="{{index $.user.Attributes "telephoneNumber" }}" placeholder="">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputMobile">Mobile Number</label>
                            <input type="text" name="mobile" class="form-control" id="inputMobile" value="{{index $.user.Attributes "mobile" }}" placeholder="">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputEmployeeID">Employee ID</label>
                            <input type="text" name="employeeID" class="form-control" id="inputEmployeeID" value="{{index $.user.Attributes "employeeID" }}" placeholder="">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputTitle">Title</label>
                            <input type="text" name="title" class="form-control" id="inputTitle" value="{{index $.user.Attributes "title" }}" placeholder="">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputDepartment">Department</label>
                            <input type="text" name="department" class="form-control" id="inputDepartment" value="{{index $.user.Attributes "department" }}" placeholder="">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputCompany">Company</label>
                            <input type="text" name="company" class="form-control" id="inputCompany" value="{{index $.user.Attributes "company" }}" placeholder="">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputManager">Teamleader</label>
                            <select name="manager" id="inputManager" class="form-control">
                                <option value="">No Teamleader</option>
                                {{range $i, $leader := $.teamLeaders}}
                                    {{if eq $leader.DN (index $.user.Attributes "manager")}}
                                        <option value="{{$leader.DN}}" selected>{{$leader.Firstname}} {{$leader.Lastname}}</option>
                                    {{else}}
                                        <option value="{{$leader.DN}}">{{$leader.Firstname}} {{$leader.Lastname}}</option>
                                    {{end}}
                                {{end}}
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="inputStreet">Street</label>
                            <input type="text" name="streetAddress" class="form-control" id="inputStreet" value="{{index $.user.Attributes "streetAddress" }}" placeholder="">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputZip">Street</label>
                            <input type="text" name="postalCode" class="form-control" id="inputZip" value="{{index $.user.Attributes "postalCode" }}" placeholder="">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputCity">City</label>
                            <input type="text" name="l" class="form-control" id="inputCity" value="{{index $.user.Attributes "l" }}" placeholder="">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputState">State/Province</label>
                            <input type="text" name="st" class="form-control" id="inputState" value="{{index $.user.Attributes "st" }}" placeholder="">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputCountry">Country</label>
                            <input type="text" name="co" class="form-control" id="inputCountry" value="{{index $.user.Attributes "co" }}" placeholder="">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <button type="submit" class="btn btn-primary">Save</button>
                            {{if le $.jumpBack 0 }}
                                <a href="/" class="btn btn-default">Cancel</a>
                            {{else}}
                                <a href="/#user-pos-{{$.jumpBack}}" class="btn btn-default">Cancel</a>
                            {{end}}
                        </div>
                    </div>
                </div>
                {{if $.alerts.HasAlert}}
                    <div class="row">
                        <div class="form-row">
                            <div class="col-md-12">
                                <div class="alert alert-{{$.alerts.Type}}" role="alert">
                                    {{$.alerts.Message}}
                                </div>
                            </div>
                        </div>
                    </div>
                {{end}}
            </form>
        </div>
    </div>
    {{template "prt_footer.html"}}
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.easing.js"></script>
    <script src="/js/custom.js"></script>
</body>

</html>