<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{{ .Static.WebsiteTitle }} - Admin</title>
    <meta name="description" content="{{ .Static.WebsiteTitle }}">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="/css/custom.css">
</head>

<body id="page-top" class="d-flex flex-column min-vh-100">
    {{template "prt_nav.html" .}}
    <div class="container mt-5">
        {{template "prt_flashes.html" .}}

        <!-- server mode -->
        <h1>Create a new client</h1>

        <form method="post" enctype="multipart/form-data">
            <input type="hidden" name="_csrf" value="{{.Csrf}}">
            <input type="hidden" name="uid" value="{{.Peer.UID}}">
            <div class="form-row">
                <div class="form-group required col-md-12">
                    <label for="server_PublicKey">Public Key</label>
                    <input type="text" name="pubkey" class="form-control" id="server_PublicKey" value="{{.Peer.PublicKey}}" required>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Save</button>
            <a href="/user/profile" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
    {{template "prt_footer.html" .}}
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery.easing.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/bootstrap-confirmation.min.js"></script>
    <script src="/js/custom.js"></script>
</body>

</html>