<!DOCTYPE html>
<html lang="en">
<!-- Theme: https://bootswatch.com/lux/ -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Static.WebsiteTitle }} - Admin</title>
    <meta name="description" content="{{ .Static.WebsiteTitle }}">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="/css/custom.css">
</head>

<body id="page-top" class="d-flex flex-column min-vh-100">
{{template "prt_nav.gohtml" .}}
    <div class="container mt-5 flex-shrink-0">
        <div class="page-header">
            <h1>WireGuard VPN Administration</h1>
        </div>
        {{template "prt_flashes.gohtml" .}}
        <div class="row">
            <div class="col-lg-12">
                {{with not $.Interfaces}}
                <div class="mt-5">
                    <h4>No interfaces found...</h4>

                    <a class="btn btn-primary mt-4" href="/admin/interface/new">Create new interface</a>
                </div>
                {{else}}
                <div class="card border-secondary mb-4" style="min-height: 15rem;">
                    <div class="card-header">
                        Interface status for <strong>{{$.Interface.Identifier}}</strong> {{if eq $.Interface.Type "server"}}(server mode){{end}}{{if eq $.Interface.Type "client"}}(client mode){{end}}
                        <div class="float-end">
                            <a href="/admin/interface/show?dev={{.Interface.Identifier}}" title="Show interface configuration"><i class="fas fa-eye"></i></a>
                            &nbsp;&nbsp;&nbsp;
                            <a href="/admin/interface/download?dev={{.Interface.Identifier}}" title="Download interface configuration"><i class="fas fa-download"></i></a>
                            &nbsp;&nbsp;&nbsp;
                            <a href="/admin/interface/write?dev={{.Interface.Identifier}}" title="Write interface configuration"><i class="fas fa-save"></i></a>
                            &nbsp;&nbsp;&nbsp;
                            <a href="/admin/interface/edit?dev={{.Interface.Identifier}}" title="Edit interface settings"><i class="fas fa-cog"></i></a>
                        </div>
                    </div>
                    <div class="card-body d-flex flex-column">
                        <div class="row">
                            {{if eq $.Interface.Type "server"}}
                            <div class="col-sm-6">
                                <table class="table table-sm table-borderless device-status-table">
                                    <tbody>
                                    <tr>
                                        <td>Public Key:</td>
                                        <td>{{.Interface.PublicKey}}</td>
                                    </tr>
                                    <tr>
                                        <td>Public Endpoint:</td>
                                        <td>{{.Interface.PeerDefEndpoint}}</td>
                                    </tr>
                                    <tr>
                                        <td>Listening Port:</td>
                                        <td>{{.Interface.ListenPort}}</td>
                                    </tr>
                                    <tr>
                                        <td>Enabled Peers:</td>
                                        <td>{{len .InterfacePeers}}</td>
                                    </tr>
                                    <tr>
                                        <td>Total Peers:</td>
                                        <td>{{.TotalPeers}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-sm-6">
                                <table class="table table-sm table-borderless device-status-table">
                                    <tbody>
                                    <tr>
                                        <td>IP Address:</td>
                                        <td>{{.Interface.AddressStr}}</td>
                                    </tr>
                                    <tr>
                                        <td>Default allowed IP's:</td>
                                        <td>{{.Interface.PeerDefAllowedIPsStr}}</td>
                                    </tr>
                                    <tr>
                                        <td>Default DNS servers:</td>
                                        <td>{{.Interface.PeerDefDnsStr}}</td>
                                    </tr>
                                    <tr>
                                        <td>Default MTU:</td>
                                        <td>{{.Interface.Mtu}}</td>
                                    </tr>
                                    <tr>
                                        <td>Default Keepalive Interval:</td>
                                        <td>{{.Interface.PeerDefPersistentKeepalive}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            {{end}}
                            {{if eq $.Interface.Type "client"}}
                            <div class="col-sm-6">
                                <table class="table table-sm table-borderless device-status-table">
                                    <tbody>
                                    <tr>
                                        <td>Public Key:</td>
                                        <td>{{.Interface.PublicKey}}</td>
                                    </tr>
                                    <tr>
                                        <td>Enabled Endpoints:</td>
                                        <td>{{len .InterfacePeers}}</td>
                                    </tr>
                                    <tr>
                                        <td>Total Endpoints:</td>
                                        <td>{{.TotalPeers}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-sm-6">
                                <table class="table table-sm table-borderless device-status-table">
                                    <tbody>
                                    <tr>
                                        <td>IP Address:</td>
                                        <td>{{.Interface.AddressStr}}</td>
                                    </tr>
                                    <tr>
                                        <td>DNS servers:</td>
                                        <td>{{.Interface.DnsStr}}</td>
                                    </tr>
                                    <tr>
                                        <td>Default MTU:</td>
                                        <td>{{.Interface.Mtu}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            {{end}}
                        </div>
                    </div>
                </div>
                {{end}}
            </div>
        </div>


        {{with $.Interface}}
        <div class="mt-4 row">
            <div class="col-sm-6 col-12">
                {{if eq $.Interface.Type "server"}}
                <h2 class="mt-2">Current VPN Peers</h2>
                {{end}}
                {{if eq $.Interface.Type "client"}}
                <h2 class="mt-2">Current VPN Endpoints</h2>
                {{end}}
            </div>
            <div class="col-sm-6 col-12 text-end">
                <a href="/admin/peer/emailall" data-toggle="confirmation" data-title="Send mail to all peers?" title="Send mail to all peers" class="btn btn-light"><i class="fa fa-fw fa-paper-plane"></i></a>
                {{if eq $.Interface.Type "server"}}
                <a href="/admin/peer/createldap" title="Add multiple peers" class="btn btn-primary"><i class="fa fa-fw fa-plus"></i><i class="fa fa-fw fa-users"></i></a>
                {{end}}
                <a href="/admin/peer/create" title="Add a peer" class="btn btn-primary"><i class="fa fa-fw fa-plus"></i><i class="fa fa-fw fa-user"></i></a>
            </div>
        </div>
        <div class="mt-2 table-responsive">
            <table class="table table-sm" id="userTable">
                <thead>
                <tr>
                    <th scope="col" class="list-image-cell"></th><!-- Status and expand -->
                    <th scope="col"><a href="?sort=id">Identifier <i class="fa fa-fw {{getSortIcon $.Session "peers" "id"}}"></i></a></th>
                    <th scope="col"><a href="?sort=displayName">Name <i class="fa fa-fw {{getSortIcon $.Session "peers" "displayName"}}"></i></a></th>
                    {{if eq $.Interface.Type "server"}}
                    <th scope="col"><a href="?sort=user">User <i class="fa fa-fw {{getSortIcon $.Session "peers" "user"}}"></i></a></th>
                    {{end}}
                    {{if eq $.Interface.Type "server"}}
                    <th scope="col"><a href="?sort=ip">IP's <i class="fa fa-fw {{getSortIcon $.Session "peers" "ip"}}"></i></a></th>
                    {{end}}
                    {{if eq $.Interface.Type "client"}}
                    <th scope="col"><a href="?sort=endpoint">Endpoint <i class="fa fa-fw {{getSortIcon $.Session "peers" "endpoint"}}"></i></a></th>
                    {{end}}
                    <th scope="col"><a href="?sort=handshake">Handshake <i class="fa fa-fw {{getSortIcon $.Session "peers" "handshake"}}"></i></a></th>
                    <th scope="col"></th><!-- Actions -->
                </tr>
                </thead>
                <tbody>
                {{range $i, $p := $.PagedInterfacePeers}}
                    {{$peerUser := $p.UserIdentifier}}
                    <tr id="user-pos-{{$i}}" {{if $p.DisabledAt}}class="disabled-peer"{{end}}>
                        <th scope="row" class="list-image-cell">
                            <a href="#{{$p.Identifier}}" data-bs-toggle="collapse" role="button" class="collapse-indicator collapsed"></a>
                            <!-- online check -->
                            <span title="Online status" class="online-status" id="online-{{$p.Identifier}}" data-pkey="{{$p.PublicKey}}"><i class="fas fa-unlink"></i></span>
                        </th>
                        <td>{{$p.Identifier}}</td>
                        <td>{{$p.DisplayName}}</td>
                        {{if eq $p.Interface.Type "server"}}
                        <td>{{$p.UserIdentifier}}</td>
                        {{end}}
                        {{if eq $p.Interface.Type "server"}}
                        <td>{{$p.Interface.AddressStr.Value}}</td>
                        {{end}}
                        {{if eq $p.Interface.Type "client"}}
                        <td>{{$p.Endpoint.Value}}</td>
                        {{end}}
                        <td><span data-toggle="tooltip" data-placement="left" title="" data-original-title="{-{$p.LastHandshakeTime}}">{-{$p.LastHandshake}}</span></td>
                        <td>
                            {{if eq $.Session.IsAdmin true}}
                                <a href="/admin/peer/edit?pkey={{$p.PublicKey}}" title="Edit peer"><i class="fas fa-cog"></i></a>
                            {{end}}
                        </td>
                    </tr>
                    <tr class="hiddenRow">
                        <td colspan="7" class="hiddenCell" style="white-space:nowrap">
                            <div class="collapse" id="{{$p.Identifier}}" data-parent="#userTable">
                                <div class="row collapsedRow">
                                    <div class="col-md-6 leftBorder">
                                        <ul class="nav nav-tabs">
                                            <li class="nav-item">
                                                <a class="nav-link active" data-bs-toggle="tab" href="#t1{{$p.Identifier}}">Personal</a>
                                            </li>
                                            {{if eq $p.Interface.Type "server"}}
                                            <li class="nav-item">
                                                <a class="nav-link" data-bs-toggle="tab" href="#t2{{$p.Identifier}}">Configuration</a>
                                            </li>
                                            {{end}}
                                            <li class="nav-item">
                                                <a class="nav-link" data-bs-toggle="tab" href="#t3{{$p.Identifier}}">Danger Zone</a>
                                            </li>
                                        </ul>
                                        <div class="tab-content" id="tabContent{{$p.Identifier}}">
                                            <div id="t1{{$p.Identifier}}" class="tab-pane fade active show">
                                                <h4>User details</h4>
                                                {{if not $peerUser}}
                                                    <p>No user information available...</p>
                                                {{else}}
                                                    <ul>
                                                        <li>Firstname: {/{$peerUser.Firstname}}</li>
                                                        <li>Lastname: {/{$peerUser.Lastname}}</li>
                                                        <li>Phone: {/{$peerUser.Phone}}</li>
                                                        <li>Mail: {/{$peerUser.Email}}</li>
                                                    </ul>
                                                {{end}}
                                                <h4>Connection / Traffic</h4>
                                                {{if not $.Peer}}
                                                    <p>No Traffic data available...</p>
                                                {{else}}
                                                    <p class="ml-4">{{if $p.DisabledAt}}-{{else}}<i class="fas fa-network-wired" title="Last Endpoint"></i> {{$p.Peer.Endpoint}}{{end}}</p>
                                                    <p class="ml-4">{{if $p.DisabledAt}}-{{else}}<i class="fas fa-long-arrow-alt-down" title="Download"></i> {{formatBytes $p.Peer.ReceiveBytes}} / <i class="fas fa-long-arrow-alt-up" title="Upload"></i> {{formatBytes $p.Peer.TransmitBytes}}{{end}}</p>
                                                {{end}}
                                            </div>
                                            {{if eq $p.Interface.Type "server"}}
                                            <div id="t2{{$p.Identifier}}" class="tab-pane fade">
                                                <pre>{/{$p.Config}}</pre>
                                            </div>
                                            {{end}}
                                            <div id="t3{{$p.Identifier}}" class="tab-pane fade">
                                                <a href="/admin/peer/delete?pkey={{$p.PublicKey}}" class="btn btn-danger" title="Delete peer">Delete</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        {{if eq $p.Interface.Type "server"}}
                                        <img class="list-image-large" src="/user/qrcode?pkey={{$p.PublicKey}}"/>
                                        {{end}}
                                    </div>
                                    <div class="col-md-3">
                                        {{if eq $p.Interface.Type "server"}}
                                        <div class="float-right mt-5">
                                        <a href="/admin/peer/download?pkey={{$p.PublicKey}}" class="btn btn-primary" title="Download configuration">Download</a>
                                        <a href="/admin/peer/email?pkey={{$p.PublicKey}}" class="btn btn-primary" title="Send configuration via Email">Email</a>
                                        </div>
                                        {{end}}
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                {{end}}
                </tbody>
            </table>
            <p>Currently listed peers: <strong>{{len $.PagedInterfacePeers}}</strong>, page size: {{$.PageSize}}</p>
            <div>
                <ul class="pagination pagination-sm">
                    <li class="page-item {{if eq $.Page 1}}disabled{{end}}">
                        <a class="page-link" href="?page={{intAdd $.Page -1}}">&laquo;</a>
                    </li>

                    {{range $i := intRange 1 $.TotalPages}}
                    <li class="page-item {{if eq $i $.Page}}active{{end}}">
                        <a class="page-link" href="?page={{$i}}">{{$i}}</a>
                    </li>
                    {{end}}

                    <li class="page-item {{if eq $.Page $.TotalPages}}disabled{{end}}">
                        <a class="page-link" href="?page={{intAdd $.Page 1}}">&raquo;</a>
                    </li>
                </ul>
            </div>
        </div>
        {{end}}
    </div>
    {{template "prt_footer.gohtml" .}}
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
</body>

</html>