<!DOCTYPE html>
<html lang="en">
<!-- Theme: https://bootswatch.com/lux/ -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Static.WebsiteTitle }} - Users</title>
    <meta name="description" content="{{ .Static.WebsiteTitle }}">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="/css/custom.css">
</head>

<body id="page-top" class="d-flex flex-column min-vh-100">
    {{template "prt_nav.gohtml" .}}
    <div class="container mt-5 flex-shrink-0">
        <div class="page-header">
            <h1>WireGuard VPN Portal Users</h1>
        </div>
        {{template "prt_flashes.gohtml" .}}
        <div class="mt-4 row">
            <div class="col-sm-6 col-12">
                <h2 class="mt-2">All Users</h2>
            </div>
            <div class="col-sm-6 col-12 text-end">
                <a href="/admin/users/create" title="Add a user" class="btn btn-primary"><i class="fa fa-fw fa-plus"></i>M</a>
            </div>
        </div>
        <div class="mt-2 table-responsive">
            <table class="table table-sm" id="userTable">
                <thead>
                <tr>
                    <th scope="col"><a href="?sort=uid">ID <i class="fa fa-fw {{getSortIcon $.Session "users" "uid"}}"></i></a></th>
                    <th scope="col"><a href="?sort=email">E-Mail <i class="fa fa-fw {{getSortIcon $.Session "users" "email"}}"></i></a></th>
                    <th scope="col"><a href="?sort=lastname">Lastname <i class="fa fa-fw {{getSortIcon $.Session "users" "lastname"}}"></i></a></th>
                    <th scope="col"><a href="?sort=firstname">Firstname <i class="fa fa-fw {{getSortIcon $.Session "users" "firstname"}}"></i></a></th>
                    <th scope="col"><a href="?sort=source">Source <i class="fa fa-fw {{getSortIcon $.Session "users" "source"}}"></i></a></th>
                    <th scope="col"><a href="?sort=admin">Is Admin <i class="fa fa-fw {{getSortIcon $.Session "users" "admin"}}"></i></a></th>
                    <th scope="col"></th><!-- Actions -->
                </tr>
                </thead>
                <tbody>
                {{range $i, $u := $.Users}}
                    <tr id="user-pos-{{$i}}" {{if $u.DeletedAt.Valid}}class="disabled-peer"{{end}}>
                        <td>{{$u.Identifier}}</td>
                        <td>{{$u.Email}}</td>
                        <td>{{$u.Lastname}}</td>
                        <td>{{$u.Firstname}}</td>
                        <td>{{$u.Source}}</td>
                        <td>{{if $u.IsAdmin}}True{{else}}False{{end}}</td>
                        <td>
                            {{if eq $.Session.IsAdmin true}}
                            {{if eq $u.Source "db"}}
                                <a href="/admin/users/edit?uid={{$u.Identifier}}" title="Edit user"><i class="fas fa-cog"></i></a>
                            {{end}}
                            {{end}}
                        </td>
                    </tr>
                {{end}}
                </tbody>
            </table>
            <p>Currently listed users: <strong>{{len .Users}}</strong></p>
            <div>
                <ul class="pagination pagination-sm">
                    <li class="page-item {{if eq $.Page 1}}disabled{{end}}">
                        <a class="page-link" href="?page={{intAdd $.Page -1}}">&laquo;</a>
                    </li>

                    {{range $i := intRange 1 $.TotalPages}}
                        <li class="page-item {{if eq $i $.Page}}active{{end}}">
                            <a class="page-link" href="?page={{$i}}">{{$i}}</a>
                        </li>
                    {{end}}

                    <li class="page-item {{if eq $.Page $.TotalPages}}disabled{{end}}">
                        <a class="page-link" href="?page={{intAdd $.Page 1}}">&raquo;</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    {{template "prt_footer.gohtml" .}}
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
</body>

</html>