<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Static.WebsiteTitle }} - Login</title>
    <meta name="description" content="{{ .Static.WebsiteTitle }}">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="/css/custom.css">
</head>

<body id="page-top" class="d-flex flex-column min-vh-100">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"><img src="{{$.Static.WebsiteLogo}}" alt="{{$.Static.CompanyName}}"/></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#topNavbar" aria-controls="topNavbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div><!--/.container-fluid -->
    </nav>
    <div class="container-sm mt-5 flex-shrink-0">
        <div class="card mt-5">
            <div class="card-header">Please sign in</div>
            <div class="card-body">
                <form method="post">
                    <fieldset>
                        <input type="hidden" name="_csrf" value="{{.Csrf}}">
                        <input type="hidden" name="_dl" value="{{.DeepLink}}">
                        <div class="form-group">
                            <label for="inputUsername" class="form-label">Username</label>
                            <input type="text" name="username" class="form-control" id="inputUsername" aria-describedby="usernameHelp" placeholder="Enter username">
                            <small id="usernameHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword" class="form-label">Password</label>
                            <input type="password" name="password" class="form-control" id="inputPassword" placeholder="Password">
                        </div>
                        <button class="btn btn-lg btn-primary btn-block mt-5" type="submit">Sign in</button>

                        {{ if eq .HasError true }}
                            <div class="alert alert-danger mt-3" role="alert">
                                {{.Message}}
                            </div>
                        {{end}}
                    </fieldset>
                </form>

                <div class="card o-hidden border-0 my-5">
                    <div class="card-body p-0">
                        <a href="/" class="btn btn-white btn-block text-primary btn-user">Go Home</a>
                    </div>
                </div>
            </div>
        </div>
        {{template "prt_flashes.html" .}}
    </div>
    {{template "prt_footer.html" .}}
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
</body>

</html>