<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Static.WebsiteTitle }} - Login</title>
    <meta name="description" content="{{ .Static.WebsiteTitle }}">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="/css/custom.css">
</head>

<body id="page-top" class="d-flex flex-column min-vh-100">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"><img src="{{$.Static.WebsiteLogo}}" alt="{{$.Static.CompanyName}}"/></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#topNavbar" aria-controls="topNavbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div><!--/.container-fluid -->
    </nav>
    <div class="container-sm mt-5 flex-shrink-0">
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <div class="card mt-5">
                    <div class="card-header">Please sign in <div class="float-end"><a href="/" title="Open Landing-Page"><i class="fas fa-times-circle"></i></a></div></div>
                    <div class="card-body">
                        <form method="post">
                            <fieldset>
                                <input type="hidden" name="_csrf" value="{{.Csrf}}">
                                <div class="form-group">
                                    <label for="inputUsername" class="form-label">Username</label>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text"><span class="far fa-user p-2"></span></span>
                                        <input type="text" name="username" class="form-control" id="inputUsername" aria-describedby="usernameHelp" placeholder="Enter username">
                                    </div>
                                    <!--small id="usernameHelp" class="form-text text-muted">We'll never share your email with anyone else.</small-->
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword" class="form-label">Password</label>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text"><span class="fas fa-lock p-2"></span></span>
                                        <input type="password" name="password" class="form-control" id="inputPassword" placeholder="Password">
                                    </div>
                                </div>

                                <div class="row mt-5 d-flex">
                                    <div class="col-lg-4 d-flex mb-2">
                                        <button class="btn btn-primary flex-fill" type="submit">Sign in</button>
                                    </div>
                                    <div class="col-lg-8 d-flex mb-2">
                                        <!-- OpenIdConnect / OAUTH providers -->
                                        {{range $idx, $prov := $.LoginProviders}}
                                        {{with ne $idx 0}}
                                        <div class="m-1"></div>
                                        {{end}}
                                        <a href="{{$prov.Url}}" class="btn btn-outline-primary flex-fill" title="Login with: {{$prov.Name}}">{{$prov.Name}}</a>
                                        {{end}}
                                    </div>
                                </div>

                                <div class="mt-3">
                                {{template "prt_flashes.gohtml" .}}
                                </div>
                            </fieldset>
                        </form>


                    </div>
                </div>
            </div>
            <div class="col-lg-4"></div>
        </div>
    </div>
    {{template "prt_footer.gohtml" .}}
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
</body>

</html>